@font-face {
    font-family: 'ralewaythin';
    src: url('./fonts/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('./fonts/raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('./fonts/opensans-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('./fonts/opensans-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 10px;
}

body {
    font-family: 'ralewaythin';
    font-size: 1.6rem;
}

.container_header {
    max-width: 2960px;
    height: 750px;
    background-image: url(./images/header_background.png);
    font-family: 'ralewaythin';
}

.logo-nav {
    max-width: 1170px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 3.8rem 0;
    box-sizing: border-box;
    border-bottom: 1px solid #50536a;
}

.active-box {
    width: 189px;
    height: 24px;
    background-image: url(./images/ActiveBox.png);
    background-repeat: no-repeat;
}

.navigation li {
    display: inline;
}

.navigation a {
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 5.9rem;
    box-sizing: border-box;
    color: #ffffff;
}

.header-txt {
    max-width: 900px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 15.6rem;
    box-sizing: border-box;
}

.favorite-page {
    font-family: 'open_sansregular';
    font-size: 6.5rem;
    line-height: 7.1rem;
    font-weight: 700;
    text-overflow: calc();
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.description-page {
    font-size: 2.2rem;
    line-height: 3.3rem;  
    padding: 2.3rem 0 7rem 0;
    box-sizing: border-box;
    text-align: center;
    color: #ffffff;
}

.find-button {
    font-size: 1.3rem;
    line-height: 2.1rem;
    font-weight: 600;
    width: 200px;
    height: 46px;
    border-radius: 2px;
    border: 0;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #e84545;
}

.features {
    max-width: 1073px;
    height: 690px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}

.features-one {
    display: flex;
}

.first-pencil,
.second-computer,
.third-light,
.fourth-react,
.fifth-case,
.sixth-cloud {
    max-width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.first-pencil,
.second-computer,
.fourth-react,
.fifth-case {
    margin-right: 4.6rem;
}

.pencil {
    width: 60px;
    height: 60px;
    background-image: url(./images/pencil.png);
    background-repeat: no-repeat;
}

.header-pencil,
.header-computer,
.header-light,
.header-react,
.header-case,
.header-cloud {
    font-family: 'open_sansregular';
    font-size: 1.4rem;
    font-weight: 700;
    padding: 3.4rem 0 3rem 0;
    text-transform: uppercase;
    color: #2d3033;
}

.description-pencil,
.description-computer,
.description-light,
.description-react,
.description-case,
.description-cloud {
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: #6c7279;
}

.computer {
    width: 73px;
    height: 60px;
    background-image: url(./images/computer.png);
    background-repeat: no-repeat;
}

.light {
    width: 41px;
    height: 60px;
    background-image: url(./images/light.png);
    background-repeat: no-repeat;
}

.features-two {
    display: flex;
}

.react {
    width: 56px;
    height: 60px;
    background-image: url(./images/react.png);
    background-repeat: no-repeat;
}

.case {
    width: 72px;
    height: 60px;
    background-image: url(./images/case.png);
    background-repeat: no-repeat;
}

.cloud {
    width: 79px;
    height: 60px;
    background-image: url(./images/cloud.png);
    background-repeat: no-repeat;
}

.works {
    max-width: 2560px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.works .image-school {
    position: relative;
    width: 600px;
    height: 343px;
    background-image: url(./images/school.png);
    background-repeat: no-repeat;
    padding: 0 0.1rem 0 0.1rem;
    box-sizing: border-box;
}

.works .image-notebook {
    width: 600px;
    height: 343px;
    background-image: url(./images/notebook.png);
    background-repeat: no-repeat;
    margin: 0 0.1rem 0 0.1rem;
}

.works .image-photo {
    width: 600px;
    height: 343px;
    background-image: url(./images/photo.png);
    background-repeat: no-repeat;
    margin: 0 0.1rem 0 0.1rem;
}

.works .image-foot {
    width: 600px;
    height: 343px;
    background-image: url(./images/food.png);
    background-repeat: no-repeat;
    margin: 0 0.1rem 0 0.1rem;
}

.works .image-medicine {
    width: 600px;
    height: 343px;
    background-image: url(./images/medicine.png);
    background-repeat: no-repeat;
    margin: -1.9rem 0.1rem 0 0.1rem;
}

.works .image-instrument {
    width: 600px;
    height: 343px;
    background-image: url(./images/instrument.png);
    background-repeat: no-repeat;
    margin: -1.9rem 0.1rem 0 0.1rem;
}

.works .image-letters {
    width: 600px;
    height: 343px;
    background-image: url(./images/letters.png);
    background-repeat: no-repeat;
    margin: -1.9rem 0.1rem 0 0.1rem;
}

.works .image-sushi {
    width: 600px;
    height: 343px;
    background-image: url(./images/sushi.png);
    background-repeat: no-repeat;
    margin: -1.9rem 0.1rem 0 0.1rem;
}

.image-school:hover,
.image-notebook:hover,
.image-photo:hover,
.image-foot:hover,
.image-medicine:hover,
.image-instrument:hover,
.image-letters:hover,
.image-sushi:hover {
    z-index: 0;
}

.works_txt {
    width: 600px;
    height: 324px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.works_txt:hover {
    font-size: 1.4rem;
    font-weight: 700;
    opacity: 0.8;
    transition: 0.5s;
    text-align: center;
    text-transform: uppercase;
    background-color: #e84545;
    color: #ffffff;
    z-index: 1;
}

.works_txt small {
    display: block;
    font-size: 1.4rem;
    margin-top: 1.5rem;
    text-transform: capitalize;
}
